
@{
    ViewBag.Title = "Index";
}

<div class="col-left sidebar">
    <div class="welcome-msg">
        <p style="font-size: 14px;" class="hello">
            <strong style="color: #2c46d0; font-size: 25px;">
                Olá, Bem-Vindo(a)!
                </strong>
            </p>
                </div>
    </div>
<div class="col-main">
    <div class="block block-account">
        <div class="block-content">
            <ul>
                <li><a href="#">Dados de Acesso</a></li>
                <li><a href="#">Meus Pedidos</a></li>
                <li><a href="#">Termos de Cobrança</a></li>
                <li><a href="#">Perfils Recorrente</a></li>
                <li class="last"><a href="#">Meus Comentários</a></li>
            </ul>
        </div>
    </div>
    </div>

    @if (TempData["Mensagem"] != null)
    {
        <div class="alert alert-success">
            @TempData["Mensagem"]
        </div>
    }
