@model Drugstore.Dominio.Entidades.Produto

<div class="well">
    <h5><strong>@Model.Nome</strong>  </h5>
    <h5><span class="pull-right label label-primary">@Model.Preco.ToString("c")</span></h5>
    <h5>  <span class="lead">@Model.Descricao</span></h5>
</div>
